{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
					DAVID KNEUSS
			</h3>

		</div>
	</div>
</div>
{% endblock %}
