{% extends "base.html" %}
{% block title %} Editer la personne (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer la personne
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_update.nom_genre_update_wtf.label }}<br>
						{{ form_update.nom_genre_update_wtf(size=32) }}<br>
						{% for error in form_update.nom_genre_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
										<p>
						{{ form_update.prenom_genre_update_wtf.label }}<br>
						{{ form_update.prenom_genre_update_wtf(size=32) }}<br>
						{% for error in form_update.prenom_genre_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.sexe_genre_update_wtf.label }}<br>
						{{ form_update.sexe_genre_update_wtf(class="form-select-sm") }}<br>
						{% for error in form_update.sexe_genre_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.dateDeNaissance_genre_update_wtf.label }}<br>
						{{ form_update.dateDeNaissance_genre_update_wtf() }}<br>
						{% for error in form_update.dateDeNaissance_genre_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

