{% extends "base.html" %}
{% block title %} Ajouter un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une nouvelle personne
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.nom_genre_wtf.label }}<br>
						{{ form.nom_genre_wtf(size=32) }}<br>
						{% for error in form.nom_genre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.prenom_genre_wtf.label }}<br>
						{{ form.prenom_genre_wtf(size=32) }}<br>
						{% for error in form.prenom_genre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.sexe_genre_wtf.label }}<br>
						{{ form.sexe_genre_wtf(class="form-select-sm") }}<br>
						{% for error in form.sexe_genre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.dateDeNaissance_genre_wtf.label }}<br>
						{{ form.dateDeNaissance_genre_wtf() }}<br>
						{% for error in form.dateDeNaissance_genre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

