{% extends "base.html" %}
{% block title %} Afficher FILMS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Nom
						</th>
						<th class="" >
						  Prénom
						</th>
						<th class="" >
						  Sexe
						</th>
						<th class="" >
						  Date de naissance
						</th>

					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_locataire }}
					  </th>
					  <th class="align-middle">
						{{ row.prenom }}
					  </th>
					  <th class="align-middle">
						{{ row.nom|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.sexe|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.dateDeNaissance|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('genre_update_wtf', id_genre_btn_edit_html=row.id_locataire) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('genre_delete_wtf', id_genre_btn_delete_html=row.id_locataire) }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_genre_film_selected', id_film_genres_edit_html=row.id_locataire) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							LOYER : {{ row.GenresFilms|default("PAS DE LOYER", True) }}
						</td>

					</tr>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_numero_locataire_selected', id_film_genres_edit_html=row.id_locataire) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							N° PORTE : {{ row.NumerosPortes|default("PAS DE PORTES", True) }}
						</td>

					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun locataire.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
